{{#partial "content"}}
    <h1 class="title1"><u>Spotted Animals</u></h1><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}