{{#partial "content"}}

    <div class="container">
        <h1 class="head1"><u>Wildlife Tracker</u></h1>
        <div class="row row1">
            <div class="col-lg-6">
                <p class="link1" style="color:gray;"><a href="/sighting_form">Post Sighting</a></p>
            </div>
            <div class="col-lg-6">
                <p class="link2"><a href="/animal_list">View Animals</a></p>
            </div>
        </div>
    </div>
    ​
{{/partial}}
​
{{> layout.hbs}}