<!--form.hbs.-->
{{#partial "content"}}
    <h1 class="title1"><u>What animal did you spot?</u></h1><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3><u>Non-endangered Animal</u></h3>
                <form class="forming" action='/sighting_success'>
                    <div class="form-group">
                        <label for="name">Animal Species</label>
                        <input id="name" name="name" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="location">Location Sighted</label>
                        <input id="location" name="location" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="ranger">Your Name</label>
                        <input id="ranger" name="ranger" class="form-control" type="text">
                    </div>
                    <button type="submit" class="btn btn-secondary">Submit Form</button>
                </form>
            </div>
            <div class="col-md-6">
                <h3><u>Endangered Animal</u></h3>
                <form class="forming" action='/sighting_success'>
                    <div class="form-group">
                        <label for="name">Animal Species</label>
                        <input id="name" name="name" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="health">Animal Health</label>
                        <input id="health" name="health" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="age">Animal Age</label>
                        <input id="age" name="age" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="location">Location Sighted</label>
                        <input id="location" name="location" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="ranger">Your Name</label>
                        <input id="ranger" name="ranger" class="form-control" type="text">
                    </div>
                    <button type="submit" class="btn btn-secondary">Submit Form</button>
                </form>
            </div>
        </div>
    </div>
    <!--form.hbs.-->
{{/partial}}

{{> layout.hbs}}