{{#partial "content"}}
<div>
    <center>
        <h1>The {{ name }}'s sighting was successfully recorded. See it <a href="/animal_list">here</a></h1>
    </center>
</div>
{{/partial}}

{{> layout.hbs}}